body {
background-color: rgb(226, 191, 191);
font-size: 14px;
font-family:Arial, Helvetica, sans-serif;
color:rgb(78, 60, 60)

}

section{
  display: flex;
  flex-direction: column;
}

article{
  
}

sidebar{
  margin: 10px;
  background-color: white;
  min-width: 200px;
}

.container{
  display: flex;
  background-color: white;
}


.bar{
  width: 15%;
  display: flex;
  flex-direction: row;
}

.main{
  width: 85%;
}

ul {
  list-style: none;
  margin-top: 40px;
}

h1 {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 5;
margin-right: 5;
font-size: 16xp;
font-family: Georgia, 'Times New Roman', Times, serif;
border-bottom-style:solid;
color: rgb(197, 85, 85);
text-align: center;
text-transform: uppercase;

}

a:link {
    color: rgb(151, 60, 60);
  }
  
  a:hover {
    color: rgb(111, 123, 202);
  }

  a:visited {
    color: rgb(151, 60, 60);
  }

img {
border: 1px;
border-style: solid;
border-color: rgb(187, 103, 103);
padding: 10px;
width: 250px;
opacity: 0.5;
}


body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font: .9em/1.2 Arial, Helvetica, sans-serif
} 


p {

}

figure {

}

.warning {

}

#note {

}

